html {
	margin: 0;
	padding: 0;
	}
body { 
	font: 100% Arial;
	line-height: 1.88889;
	color: black;
	margin: 0;
	padding: 0;
	background-color: darkgrey;
	}

.container{background-color: #B7A5DF;}

p {
	margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
	margin-bottom: 20px;
	text-align: justify;
	}

.container > table > td > p {font-size: 10px;}

h3 {
	font: italic normal 1.4em georgia, sans-serif;
	letter-spacing: 1px;
    margin-top: 10px;
	margin-bottom: 10px;
    margin-left: 10px;
	}
a:link { 
	font-weight: bold; 
	text-decoration: none; 
	color: #B7A5DF;
	}
a:visited { 
	font-weight: bold; 
	text-decoration: none; 
	color: #D4CDDC;
	}
a:hover, a:focus, a:active { 
	text-decoration: underline; 
	color: #9685BA;
	}

.container > table{
    background-color: navajowhite;
    border: wheat;
    text-align: center;
    margin: auto;
}

.container > table img {
    width: 150px;
    height: 150px;
}

.container {
    text-align-all: justify;
}

.C1 {
    color: black;
    font-size: 50px;
}

.container .td1{
	color: black;
	font-size: 25px;
	background-color: #D4CDDC;
}

.formulari  table{
	letter-spacing: 1px;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 10px;
}

.serie td{
	text-align: center;
	background-color: bisque;
}

.serie img{
    width: 270px;
    height: 100px;
}